* {
  /* BOX SHAPE */
  box-sizing: border-box;
  overflow: hidden;

  position: relative;

  /* FONT OPTIONS */
  font-size: inherit;
  font-family: inherit;
}

:host {
  display: block;
}

/* DATABASE TABLE */
.table-container {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  gap: 1em;

  overflow-x: auto;
}

.table-navigator {
  align-self: center;
  overflow: hidden;
  user-select: none;
}

.result-pages, .navigator-button {
  display: inline-block;
  vertical-align: middle;
}

.navigator-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
}

.navigator-button:disabled {
  cursor: not-allowed;
  color: lightgray;
}

.navigator-button:disabled:hover {
  transform: scale(1);
}

.navigator-button:hover {
  transform: scale(1.5);
}

.database-table {
  table-layout: auto;
  border-collapse: collapse;
  border-radius: .8em;

  text-align: center;

  overflow: hidden;
  font-size: 15px;
}

.database-table thead tr {
  background-color: mediumpurple;
  font-size: 1.2em;
}

.database-table tbody tr {
  border-bottom: 1px solid rgb(211, 211, 211) !important;
  transition: .2s;
}

.database-table tbody tr:hover {
  background-color: rgb(242,242,242,0.8);
  cursor: pointer;
}

.database-table thead tr td, .database-table tbody tr td {
  padding: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}

.invisible-field {
  display: none;
}

.default-title {
  /* FONT-TITLE */
  letter-spacing: 1px;
  font-weight: 300;
  align-self: center;

  font-size: var(--header-fontSize);
  color: var(--secondary-fontColor);
}

.checkbox-cell {
  width: 4em;
}

.radioButton {
  display: none;
}

.radioButton-label {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  border: 2px solid lightgray;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .5s;

  pointer-events: none;
}

.radioButton:checked + .radioButton-label {
  background-color:deepskyblue;
  border: deepskyblue;
}

.radioButton:checked + .radioButton-label::before {
  content: '✔';
  font-size: .8em;
  color: white;
}
