/* ----- BUTTON ----- */

.personalized-button {
  background-color: white;
  
  padding: 0.4em 0.3em;

  border-radius: 1em;
  color: black;
  border: 1em solid black;

  letter-spacing: 1px;

  cursor: pointer;
  transition: 0.3s;
}

.personalized-button:hover {
  color: white;
}

.personalized-button:disabled, .personalized-button:disabled:hover {
  border-color: gray;
  background-color: white;
  color: black;
  cursor: not-allowed;
}

.green-button {
  border: 3px solid lawngreen;
  color: lawngreen;
}

.green-button:hover {
  background-color: lawngreen;
}

.orange-button {
  border: 3px solid coral;
  color: coral;
}

.orange-button:hover {
  background-color: coral;
}

.red-button {
  border: 3px solid crimson;
  color: red;
}

.red-button:hover {
  background-color: crimson;
}


/* ----- ROUND TOGGLE ----- */
.toggle-container {
  position: relative;
  overflow: hidden;
  
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}

.toggle {
  display: inline-block;

  position: relative;
  width: 30px;
  height: 17px;
  
  overflow: unset;
}

.original-input-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.round-slider {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  transition: 0.4s;

  border-radius: 17px;
}

.round-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.original-input-checkbox:checked + .round-slider {
  background-color: var(--input-secondaryColor);
}

.original-input-checkbox:checked + .round-slider:before {
  transform: translateX(12px);
}

/* ----- SEPARATION LINE ----- */
.separation-line {
  width: 100%;
  
  background-color: black;
  border: 3px solid black !important;

  margin: 2em 0;
} 