* {
  /* BOX SHAPE */
  box-sizing: border-box;
  overflow: hidden;
  
  position: relative;

  /* FONT OPTIONS */
  font-size: inherit;
  font-family: inherit;
}

:host {
  display: block;
}

.txtInput-container {
    position: relative;
    padding: 1em 0 0 0;
  }
  
  .txtInput {
    /* SHAPE OPTIONS */
    width: 100%;
    outline: none;
    padding: .5em 0;
    
    border-style: solid;
    border-width: 0 0 2px 0;
    border-radius: 0px;
    border-color: var(--main-color);
  
    background: transparent;
    letter-spacing: 1px;
  
    transition: 0.1s;
  }
  
  .txtInput::placeholder {
    visibility: hidden;
  }
  
  :not(.txtInput:placeholder-shown), .txtInput:focus {
    border-color: var(--secondary-color);
  }
  
  .txtInput-label {
    display: block;
  
    position: absolute;
    top: 1.5em;
  
    pointer-events: none;
    user-select: none;
    cursor: text;
  
    color: gray;
  
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: uppercase;
  
    transition: 0.2s;
  }
  
  :not(.txtInput:placeholder-shown) ~ .txtInput-label,
  .txtInput:focus ~ .txtInput-label {
    /* POSITION */
    top: 0;
    
    font-size: .8em;
    color: var(--secondary-color);
    font-weight: 300;
  }
  
  /* ----- INSIDE TEXTBOX TOGGLE ----- */
  .inside-icon-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    outline: none;
  }
  
  .inside-icon {
    padding-right: 1.5em;
  }